name: Build and Publish to PyPI
on:
  push:
    branches:
      - main
      - master
  pull_request: {}

env:
  # avoid build failures due to flaky pypi
  PIP_DEFAULT_TIMEOUT: 60
  PIP_RETRIES: 5
  # required otherwise github api calls are rate limited
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
        env:
          MISE_ENV: ci
      - uses: iloveitaly/github-action-direnv-load-and-mask@master
      - run: uv sync
      - run: just lint

  build:
    needs: lint
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: direnv allow . && direnv export gha >> "$GITHUB_ENV"
      - run: uv sync

      # `uv run` prefix is required since the venv is not activated
      - run: just test

  release-please:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      version: ${{ steps.release.outputs.version }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: python

  publish:
    runs-on: ubuntu-latest
    needs: [release-please]
    if: needs.release-please.outputs.release_created
    permissions:
      contents: read
      id-token: write # Required for OIDC publishing
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - uses: iloveitaly/github-action-direnv-load-and-mask@master
      - run: uv build
      - run: uv publish
